<!DOCTYPE html>

<html lang="it">

<head>

    <meta charset="utf-8" />

    <!-- MAKE IT RESPONSIVE, YEAH! -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- SEO -->
    <title>@ViewData["Title"] - Imagine Software</title>

    <!-- FONTS -->
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700;900&display=swap" rel="stylesheet" />

    <!-- STYLESHEETS -->
    <link href="~/css/icons-generated.css" asp-append-version="true" rel="stylesheet" />
    <link href="~/css/loader.css" asp-append-version="true" rel="stylesheet" />
    <link href="~/css/site.css" asp-append-version="true" rel="stylesheet" />
    <link href="~/css/responsive.css" asp-append-version="true" rel="stylesheet" />

    <noscript>
        <style>
            /* Se javascript è disabilitato mostro un warning */
            .javascript-disabled-message {
                display: block;
            }
        </style>
    </noscript>

</head>

<body>

    <h3 class="javascript-disabled-message">Attenzione, Javascript è disabilitato! Il sito funziona meglio se è attivo!</h3>

    <header>

        <div class="header-content">
            <h2 class="header-title"><a asp-controller="Home" asp-action="Index">Imagine Software</a></h2>
        </div>

    </header>

    <nav>
        <input type="checkbox" id="overlay-menu-input" />
        <label for="overlay-menu-input" id="overlay-menu-button"><span></span></label>
        <div id="overlay-menu">
            <ul>
                <li><a asp-controller="Home" asp-action="Index">@Definitions.HOME_PAGE_CONTROLLER_NAME</a></li>
                <li><a asp-controller="Home" asp-action="Services">@Definitions.SERVICES_PAGE_CONTROLLER_NAME</a></li>
                <li><a asp-controller="Applications" asp-action="Index">@Definitions.APPLICATIONS_PAGE_CONTROLLER_NAME</a></li>
                <li><a asp-controller="OpenSourceProjects" asp-action="Index">@Definitions.OPEN_SOURCE_PROJECTS_PAGE_CONTROLLER_NAME</a></li>
                <li><a asp-controller="Home" asp-action="Francesco">@Definitions.FRANCESCO_PAGE_CONTROLLER_NAME</a></li>
                <li><a asp-controller="Home" asp-action="Contacts">@Definitions.CONTACT_PAGE_CONTROLLER_NAME</a></li>
            </ul>
        </div>
    </nav>

    <button class="back-to-top-button" onclick="backToTop();" id="btnBackToTop" title="Torna in alto"><i class="icon-up"></i></button>

    <main class="@ViewData["Main-Custom-Class"]">
        @RenderBody()
    </main>

    <footer>

        <div class="bottom-menu-section">

            <h2 class="bottom-menu-title">Imagine Software</h2>

            <div>
                <ul>
                    <li class="footer-section-title">Link</li>
                    <li><a asp-controller="Home" asp-action="Index">@Definitions.HOME_PAGE_CONTROLLER_NAME</a></li>
                    <li><a asp-controller="Home" asp-action="Services">@Definitions.SERVICES_PAGE_CONTROLLER_NAME</a></li>
                    <li><a asp-controller="Applications" asp-action="Index">@Definitions.APPLICATIONS_PAGE_CONTROLLER_NAME</a></li>
                    <li><a asp-controller="OpenSourceProjects" asp-action="Index">@Definitions.OPEN_SOURCE_PROJECTS_PAGE_CONTROLLER_NAME</a></li>
                    <li><a asp-controller="Home" asp-action="Francesco">@Definitions.FRANCESCO_PAGE_CONTROLLER_NAME</a></li>
                </ul>
            </div>

            <div>
                
                <ul>

                    <li class="footer-section-title">Contatti</li>
                    <li>
                        <i class="icon-email"></i>
                        <span title="Scrivimi due righe per email!">@Definitions.Email</span>
                    </li>

                    <li>
                        <i class="icon-telegram" title="L'icona dell'App di messaggistica Telegram"></i>
                        <a href="https://telegram.me/fbonizzi" title="Scrivimi due righe tramite Telegram">@@fbonizzi</a>
                    </li>

                    <li>
                        <i class="icon-linkedin icon-small-for-footer" title="L'icona del social network LinkedIN"></i>
                        <a target="_blank" href="https://www.linkedin.com/in/fbonizzi/" title="Visita il mio profilo LinkedIn">LinkedIn</a>
                    </li>

                    <li>
                        <i class="icon-github icon-small-for-footer" title="L'icona di GitHub"></i>
                        <a target="_blank" href="https://github.com/FrancescoBonizzi" title="Visita il mio profilo GitHub">GitHub</a>
                    </li>

                    <li class="footer-link-contact">
                        <i class="icon-email"></i>
                        <a asp-controller="Home" asp-action="Contacts" title="Scrivimi direttamente dal sito!">Modulo di contatto</a>
                    </li>

                </ul>
            </div>

        </div>

        <div class="last-footer-section">
            <p>
                <a asp-controller="Home" asp-action="PrivacyPolicy" title="Leggi l'informativa sulla privacy">@Definitions.PRIVACY_PAGE_CONTROLLER_NAME</a>
                <span class="pipe">|</span>
                <a asp-controller="Home" asp-action="Sitemap" title="Visita la mappa del sito per avere maggior chiarezza dei contenuti">@Definitions.SITEMAP_PAGE_CONTROLLER_NAME</a>
            </p>
            <p>&copy; 2021, Imagine Software di Francesco Bonizzi. Partita IVA: @Definitions.PartitaIva</p>
        </div>

    </footer>

    <script src="~/js/site.js" asp-append-version="true"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            initializeBackToTopButton();
            initializeImagesAnimations();
        });
    </script>
    @RenderSection("Scripts", required: false)

</body>

</html>
