@{
    @model ImagineSoftwareWebsite.ViewModels.CommonPageViewModel;
    ViewData["Title"] = @Model.LocalizedTitle;
    ViewData["MetaDescription"] = @Model.LocalizedMetaDescription;
}

@if (!string.IsNullOrWhiteSpace(@Model.JsonStructuredData))
{
    @section StructuredData {
        <script type="application/ld+json">
            @Html.Raw(Model.JsonStructuredData);
        </script>
    }
}

<div class="coloured-header">
    <h1>@Model.LocalizedTitle</h1>
    <hr class="menu-separator" />
    <h3>@Model.LocalizedSubtitle</h3>
</div>

<partial name="_OneLevelBreadcrumbs" model="new { ThisPageRouteName = Model.LocalizedTitle }" />

<section class="white-section">
    <div class="section-content">

        @Html.Raw(@Model.LocalizedBody)

    </div>
</section>

