@{
    @model ImagineSoftwareWebsite.ViewModels.CommonPageViewModel;
    ViewData["Title"] = @Model.LocalizedTitle;
    ViewData["MetaDescription"] = @Model.LocalizedMetaDescription;
}

@if (!string.IsNullOrWhiteSpace(@Model.JsonStructuredData))
{
    @section StructuredData {
        <script type="application/ld+json">
            @Html.Raw(Model.JsonStructuredData);
        </script>
    }
}

<div class="inner-header">
    <h1>@Model.LocalizedTitle</h1>
    <hr class="menu-separator" />
    <h3>@Model.LocalizedSubtitle</h3>
</div>

<section class="breadcrumbs-section">

    <ol itemscope itemtype="https://schema.org/BreadcrumbList">
        <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
            <a itemprop="item" asp-controller="Home" asp-action="Index"><span itemprop="name">Home</span></a>
            <meta itemprop="position" content="1" />
        </li>
        <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
            <span itemprop="name">@Model.LocalizedTitle</span>
            <meta itemprop="position" content="2" />
        </li>
    </ol>

</section>

<section class="white-section">
    <div class="section-content">

        @Html.Raw(@Model.LocalizedBody)

    </div>
</section>

