@{
    @model ImagineSoftwareWebsite.ViewModels.CommonPageViewModel;
    ViewData["Title"] = @Model.LocalizedTitle;
    ViewData["MetaDescription"] = @Model.LocalizedMetaDescription;
}

<noscript>
    <style>
        /* Se javascript è disabilitato non mostro la form */
        #main-content {
            display: none;
        }
    </style>
</noscript>

<div class="inner-header">
    <h1>@Model.LocalizedTitle</h1>
    <hr class="menu-separator" />
    <h3>@Model.LocalizedSubtitle</h3>
</div>

<partial name="_OpenSourceProjectsBreadcrumbs" model="new { ThisPageRouteName = Model.LocalizedTitle }" />

<section class="white-section">
    <div class="section-content">

        <p>
            @Html.Raw(@Model.LocalizedBody)
        </p>

        <a href="~/contents/Francesco-Bonizzi-VCard.vcf" class="action-button download-my-vcard">Scarica il mio contatto sul telefono</a>

        <div class="quick-contacts">
            <ul>
                <li>
                    <span class="quick-contact-label"><i class="icon-email"></i>Email:</span>
                    <span title="Scrivimi due righe per email!"><a class="outside-link" href="mailto:@Definitions.Email">@Definitions.Email</a></span>
                </li>
                <li>
                    <span class="quick-contact-label"><i class="icon-telegram"></i>Telegram:</span>
                    <a class="outside-link link-telegram" href="https://telegram.me/fbonizzi" title="Scrivimi due righe tramite Telegram">@@fbonizzi</a>
                </li>
                <li>
                    <span class="quick-contact-label"><i class="icon-linkedin"></i>LinkedIn:</span>
                    <a class="outside-link" href="https://www.linkedin.com/in/fbonizzi/" title="Scrivimi due righe tramite LinkedIn">/fbonizzi</a>
                </li>
            </ul>
        </div>

    </div>
</section>