@{
    @model ImagineSoftwareWebsite.ViewModels.OpenSourceProjectsListViewModel;
    ViewData["Title"] = @Model.LocalizedTitle;
    ViewData["MetaDescription"] = "I progetti open source di Imagine Software, accessibili liberamente tramite GitHub: librerie, piccoli software, videogiochi.";
}

<div class="article-header">
    <h1>@Model.LocalizedTitle</h1>
    <h2>@Model.LocalizedSubTitle</h2>
</div>

<partial name="_OneLevelBreadcrumbs" model="new { ThisPageRouteName = Model.LocalizedTitle }" />

<div class="section-separator section-separator-with-margin-from-header"></div>

@for (int s = 0; s < Model.OpenSourceProjects.Length; ++s)
{
    var openSourceProject = Model.OpenSourceProjects[s];

    <section class="card">

        <a href="/open-source-projects/@openSourceProject.RouteName">

            <div class="open-source-project-card-item">

                <div class="open-source-project-card-item-content">

                    <div class="open-source-project-card-item-title">
                        <img src="@openSourceProject.LogoImageLink" alt="@openSourceProject.LogoAlt" asp-append-version="true" />
                        <h3>@openSourceProject.LocalizedTitle</h3>
                    </div>

                    @Html.Raw(@openSourceProject.LocalizedShortDescription)

                </div>

                <div class="open-source-project-card-item-right-arrow">
                    <i class="icon-right-open"></i>
                </div>

            </div>

        </a>

    </section>

    @if (s < Model.OpenSourceProjects.Length - 1)
    {
        <div class="section-separator"></div>
    }
}
