@{
    @model ImagineSoftwareWebsite.ViewModels.CommonPageViewModel;
    ViewData["Title"] = @Model.Title[Model.CurrentLocalizationCode];
    ViewData["MetaDescription"] = @Model.MetaDescription[Model.CurrentLocalizationCode];
}

@if (!string.IsNullOrWhiteSpace(@Model.JsonStructuredData))
{
    @section StructuredData {
<script type="application/ld+json">
    @Html.Raw(Model.JsonStructuredData);
</script>
    }
}

<div class="article-header">
    <h1>@Model.Title[Model.CurrentLocalizationCode]</h1>
    <h2>@Model.Subtitle[Model.CurrentLocalizationCode]</h2>
</div>

<partial name="_OneLevelBreadcrumbs" model="new { ThisPageRouteName = Model.Title[Model.CurrentLocalizationCode] }" />

<section>

    @Html.Raw(@Model.Body[Model.CurrentLocalizationCode])

</section>

