@{
    @model ImagineSoftwareWebsite.ViewModels.CommonPageViewModel;
    ViewData["Title"] = @Model.LocalizedTitle;
    ViewData["MetaDescription"] = @Model.LocalizedMetaDescription;
}

@if (!string.IsNullOrWhiteSpace(@Model.JsonStructuredData))
{
    @section StructuredData {
<script type="application/ld+json">
    @Html.Raw(Model.JsonStructuredData);
</script>
    }
}

<div class="article-header">
    <h1>@Model.LocalizedTitle</h1>
    <h2>@Model.LocalizedSubtitle</h2>
</div>

<partial name="_OneLevelBreadcrumbs" model="new { ThisPageRouteName = Model.LocalizedTitle }" />

<section>

    @Html.Raw(@Model.LocalizedBody)

</section>

