@{
    @model ImagineSoftwareWebsite.ViewModels.CommonPageViewModel;
    ViewData["Title"] = @Model.Title[Model.CurrentLocalizationCode];
    ViewData["MetaDescription"] = @Model.MetaDescription[Model.CurrentLocalizationCode];
}

<div class="article-header">
    <h1>@Model.Title[Model.CurrentLocalizationCode]</h1>
    <h2>@Model.Subtitle[Model.CurrentLocalizationCode]</h2>
</div>

<partial name="_OneLevelBreadcrumbs" model="new { ThisPageRouteName = Model.Title[Model.CurrentLocalizationCode] }" />

<section>

    @Html.Raw(@Model.Body[Model.CurrentLocalizationCode])

    <a href="https://admin.imaginesoftware.it/api/assets/imagine-software-website/b990375a-3129-44af-ae9a-24b908b61a7a/francesco-bonizzi-vcard.vcf" class="action-button download-my-vcard">Scarica il mio contatto sul telefono</a>

    <div class="quick-contacts">
        <ul>
            <li>
                <span class="quick-contact-label"><i class="icon-email"></i>Email:</span>
                <span title="Scrivimi due righe per email!"><a class="outside-link" href="mailto:@Definitions.Email">@Definitions.Email</a></span>
            </li>
            <li>
                <span class="quick-contact-label"><i class="icon-telegram"></i>Telegram:</span>
                <a class="outside-link link-telegram" href="https://telegram.me/fbonizzi" title="Scrivimi due righe tramite Telegram">@@fbonizzi</a>
            </li>
            <li>
                <span class="quick-contact-label"><i class="icon-linkedin"></i>LinkedIn:</span>
                <a class="outside-link" href="https://www.linkedin.com/in/fbonizzi/" title="Scrivimi due righe tramite LinkedIn">/fbonizzi</a>
            </li>
        </ul>
    </div>

</section>