@{
    @model ImagineSoftwareWebsite.ViewModels.HomePageViewModel;
    ViewData["Title"] = @Model.Title[Model.CurrentLocalizationCode];
    ViewData["MetaDescription"] = @Model.MetaDescription[Model.CurrentLocalizationCode];
}

@if (!string.IsNullOrWhiteSpace(@Model.JsonStructuredData))
{
    @section StructuredData {
<script type="application/ld+json">
    @Html.Raw(Model.JsonStructuredData);
</script>
    }
}

<section class="homepage-section">

    <div class="homepage-header">
        <h1>@Model.Title[Model.CurrentLocalizationCode]</h1>
        <hr class="menu-separator" />
        <h2>@Model.Subtitle[Model.CurrentLocalizationCode]</h2>
    </div>

    <div class="section-content-landing">
        <div class="shortcuts-list">
            <ul class="shortcuts-list-home">

                <li>
                    <div class="shortcuts-list-title-container">
                        <img src="~/vectors/team.jpg" asp-append-version="true" alt="L'immagine di mani che si stringono, ad indicare il lavoro di squadra" />
                    </div>

                    @Html.Raw(Model.Box1[Model.CurrentLocalizationCode])

                    <a href="/services" class="action-button-secondary">Approfondisci</a>
                </li>

                <li>
                    <div class="shortcuts-list-title-container">
                        <img src="~/vectors/rocket.jpg" asp-append-version="true" alt="L'immagine di un razzo per rappresentare le startup" />
                    </div>

                    @Html.Raw(Model.Box2[Model.CurrentLocalizationCode])

                    <a href="/services" class="action-button-secondary">Approfondisci</a>
                </li>

                <li>
                    <div class="shortcuts-list-title-container">
                        <img src="~/vectors/target.jpg" asp-append-version="true" alt="L'immagine di un bersaglio, per rappresentare gli obiettivi di un'azienda" />
                    </div>

                    @Html.Raw(Model.Box3[Model.CurrentLocalizationCode])

                    <a href="/services" class="action-button-secondary">Approfondisci</a>
                </li>

            </ul>
        </div>
    </div>
</section>

<section class="grey-section">
    <div class="fullscreen-section-content centered-section-content">
        <h3 class="contact-title">@Model.ContactText[Model.CurrentLocalizationCode]</h3>
        <a href="/contacts" class="action-button button-top-margin">@Model.ContactCallToAction[Model.CurrentLocalizationCode]</a>
    </div>
</section>

@{
    int currentSectionIndex = 0;
    int currentSectionCount = 0;
}

<partial name="_HomepageSection"
         model="new { SectionClassName = Model.GetSectionClassName(currentSectionCount), Section = Model.HomepageSection[Model.CurrentLocalizationCode][currentSectionIndex] }" />

@{
    currentSectionCount++;
}

<section class="@Model.GetSectionClassName(currentSectionCount)">
    <div class="fullscreen-section-content">

        <h3>@Model.TechnlogiesTitle[Model.CurrentLocalizationCode]</h3>

        <div class="logo-gallery technologies-logos">

            @foreach (var technology in Model.Technologies)
            {
                <div class="logo-gallery-block">
                    <a title="@technology.LocalizedLinkTitle" href="@technology.Link" target="_blank" rel="noopener">
                        <div>
                            <img src="@technology.LogoImageLink" alt="@technology.LocalizedLogoAlt" />
                        </div>
                        <span class="logo-gallery-name">@technology.Name</span>
                    </a>
                </div>
            }

        </div>

    </div>
</section>

@{
    currentSectionCount++;
}
@{
    currentSectionIndex++;
}
<partial name="_HomepageSection"
         model="new { SectionClassName = @Model.GetSectionClassName(currentSectionCount), Section = Model.HomepageSection[Model.CurrentLocalizationCode][currentSectionIndex] }" />

@{
    currentSectionCount++;
}
<section class="@Model.GetSectionClassName(currentSectionCount)">
    <div class="fullscreen-section-content">

        <h3>@Model.OpenSourceTitle[Model.CurrentLocalizationCode]</h3>
        <div class="section-separator-with-margin-from-header"></div>

        @foreach (var openSourceProject in Model.OpenSourceProjects.Take(4))
        {
            <div class="card small-card">
                <a href="/open-source-projects/@openSourceProject.RouteName">

                    <div class="open-source-project-small-card-item-content">

                        <div class="open-source-project-card-item-title">
                            <img src="@openSourceProject.LogoImageLink" alt="@openSourceProject.LogoAlt" />
                            <h4>@openSourceProject.LocalizedTitle</h4>
                        </div>

                        <div class="open-source-project-card-item-right-arrow">
                            <i class="icon-right-open"></i>
                        </div>

                    </div>

                </a>
            </div>
        }

        @Html.Raw(@Model.OpenSourceBody[Model.CurrentLocalizationCode])

        <br />

        <a href="/open-source-projects" class="action-button">@Model.OpenSourceCallToAction[Model.CurrentLocalizationCode]</a>

    </div>
</section>

@{
    currentSectionIndex++;
}
@{
    currentSectionCount++;
}
<partial name="_HomepageSection"
         model="new { SectionClassName = @Model.GetSectionClassName(currentSectionCount), Section = Model.HomepageSection[Model.CurrentLocalizationCode][currentSectionIndex] }" />

@{
    currentSectionCount++;
}
<section class="@Model.GetSectionClassName(currentSectionCount)">
    <div class="fullscreen-section-content">

        <h3>@Model.CustomersTitle[Model.CurrentLocalizationCode]</h3>

        <div class="logo-gallery technologies-logos">

            @foreach (var customer in Model.Customers)
            {
                <div class="logo-gallery-block">
                    <a title="@customer.LocalizedLinkTitle" href="@customer.Link" target="_blank" rel="noopener">
                        <div>
                            <img src="@customer.LogoImageLink" alt="@customer.LocalizedLogoAlt" />
                        </div>
                        <span class="logo-gallery-name">@customer.Name</span>
                    </a>
                </div>
            }

        </div>

    </div>
</section>

@{
    currentSectionIndex++;
}
@{
    currentSectionCount++;
}
<partial name="_HomepageSection"
         model="new { SectionClassName = @Model.GetSectionClassName(currentSectionCount), Section = Model.HomepageSection[Model.CurrentLocalizationCode][currentSectionIndex] }" />

@for (int c = currentSectionIndex; c < Model.HomepageSection.Count; ++c)
{
    var currentSection = Model.HomepageSection[Model.CurrentLocalizationCode][c];

    <partial name="_HomepageSection"
         model="new { SectionClassName = @Model.GetSectionClassName(c), Section = Model.HomepageSection[Model.CurrentLocalizationCode][currentSectionCount] }" />

    currentSectionCount++;
}