@{
    @model ImagineSoftwareWebsite.ViewModels.ProjectsAppsListViewModel;
    ViewData["Title"] = @Model.LocalizedTitle;
    ViewData["MetaDescription"] = "I prodotti ed i progetti di Imagine Software per il mondo enterprise, realizzati con cura e attenzione maniacale per i dettagli.";
}

<div class="article-header">
    <h1>@Model.LocalizedTitle</h1>
    <h2>@Model.LocalizedSubTitle</h2>
</div>

<partial name="_OneLevelBreadcrumbs" model="new { ThisPageRouteName = Model.LocalizedTitle }" />

<div class="section-separator-with-margin-from-header"></div>

@for (int s = 0; s < Model.ProjectsApps.Length; ++s)
{
    var project = Model.ProjectsApps[s];

    <section class="card">

        <a href="/projects-apps/@project.RouteName">

            <div class="open-source-project-card-item-content">

                <div class="open-source-project-card-item-title">
                    <img src="@project.LogoImageLink" alt="@project.LogoAlt" asp-append-version="true" />
                    <h3>@project.LocalizedTitle</h3>
                </div>

                @Html.Raw(project.LocalizedShortDescription)

                <div class="open-source-project-card-item-right-arrow">
                    Approfondisci <i class="icon-right-open"></i>
                </div>

            </div>

        </a>

    </section>
}
