@{
    @model ImagineSoftwareWebsite.ViewModels.ProjectsAppsViewModel;
    ViewData["Title"] = @Model.Title[Model.CurrentLocalizationCode];
    ViewData["MetaDescription"] = @Model.MetaDescription[Model.CurrentLocalizationCode];
}

@if (!string.IsNullOrWhiteSpace(@Model.JsonStructuredData))
{
    @section StructuredData {
<script type="application/ld+json">
    @Html.Raw(Model.JsonStructuredData);
</script>
    }
}

<div class="article-header">
    <h1>@Model.Title[Model.CurrentLocalizationCode]</h1>
    <h2>@Model.Subtitle[Model.CurrentLocalizationCode]</h2>
</div>

<partial name="_ProjectsAppsBreadcrumbs" model="new { ThisPageRouteName = Model.Title[Model.CurrentLocalizationCode] }" />

<section class="logo-download-buttons-container">

    <img class="project-logo"
         src="@Model.LogoImageLink"
         alt="@Model.LogoAlt[Model.CurrentLocalizationCode]"
         asp-append-version="true" />

    @if (Model.DownloadButtons.Any())
    {
        <div class="store-download-buttons-group">
            @foreach (var downloadButton in Model.DownloadButtons[Model.CurrentLocalizationCode])
            {
                <a class="action-button"
                   target="_blank"
                   rel="noopener"
                   href="@downloadButton.DownloadLink"
                   title="@downloadButton.TextAlt">
                    <i class="@downloadButton.IconName"></i> @downloadButton.TextButton
                </a>
            }
        </div>
    }

</section>

<div class="section-separator"></div>

@for (int s = 0; s < Model.Sections[Model.CurrentLocalizationCode].Length; ++s)
{
    var currentSection = Model.Sections[Model.CurrentLocalizationCode][s];

    <section>

        @if (!string.IsNullOrWhiteSpace(currentSection.Title))
        {
            <h3>@Html.Raw(@currentSection.Title)</h3>
        }

        @Html.Raw(@currentSection.Body)

    </section>

    @if (s < Model.Sections[Model.CurrentLocalizationCode].Length - 1)
    {
        <div class="section-separator"></div>
    }
}

