@{
    @model ImagineSoftwareWebsite.ViewModels.ServicesViewModel;
    ViewData["Title"] = @Model.Title[Model.CurrentLocalizationCode];
    ViewData["MetaDescription"] = @Model.MetaDescription[Model.CurrentLocalizationCode];
}

<div class="article-header">
    <h1>@Model.Title[Model.CurrentLocalizationCode]</h1>
    <h2>@Model.Subtitle[Model.CurrentLocalizationCode]</h2>
</div>

<partial name="_OneLevelBreadcrumbs" model="new { ThisPageRouteName = Model.Title[Model.CurrentLocalizationCode] }" />

<div class="section-separator-with-margin-from-header"></div>

@for (int s = 0; s < Model.Sections[Model.CurrentLocalizationCode].Length; ++s)
{
    var currentSection = Model.Sections[Model.CurrentLocalizationCode][s];
    string sectionClassName = "white-section";

    @if (s % 2 == 0)
    {
        sectionClassName = "alt-section";
    }

    <section class="@sectionClassName">

        <div class="fullscreen-section-content">

            @if (!string.IsNullOrWhiteSpace(currentSection.Title))
            {
                <h3>@Html.Raw(@currentSection.Title)</h3>
                <div class="section-separator"></div>
            }

            @Html.Raw(@currentSection.Body)

            @if (s % 2 == 0)
            {
                <a href="/contacts" class="action-button">Contattami</a>
            }

        </div>

    </section>
}
